extends layout

block content
  .banner.center
    p.title.main-text 华软深夜食堂
    p.small 剩余 02 小时 08 分 20 秒
    p.main-text 當前
      span  20 
      | 人在綫
  #chat
    #items
      .item(v-repeat="chat: chats")
        .other
          .avatar
            img(src="images/{{chat.position}}.png")
          .content
            .name {{chat.username}}
            .text {{chat.content}}
    #send
      input(v-model="content",v-on="keyup:send | key enter",type="text",placeholder="Press Enter To Send...")