extends layout

block content
  .banner.center
    p.title.main-text 华软深夜食堂
    p.small 剩余 02 小时 08 分 20 秒
    p.main-text 當前
      span  20 
      | 人在綫
  .chat
    .item
      .other
        .avatar
          img(src="images/g.png")
        .content
          .name 中文
          .text 有人吗？
    .item
      .me
        .avatar
          img(src="images/y.png")
        .content
          .name 我
          .text 没有
    .item
      .me
        .avatar
          img(src="images/m.png")

        .content
          .name 我
          .text 没有

  .send
    input(type="text",placeholder="Press Enter To Send...")