extends layout

block content
  .banner.center
    h1 华软深夜食堂
    p 剩余 02 小时 08 分 20 秒
  .chat
    .item
      .other
        .avatar
        .content
          .name 中文
          .text 有人吗？
    .item
      .me
        .avatar
        .content
          .name 我
          .text 没有
    .item
      .me
        .avatar
        .content
          .name 我
          .text 没有
    .item
      .other
        .avatar
        .content
          .name 中文
          .text 有人吗？